title: Écomusée Ferroviaire de Malume
description: Préservation et valorisation du patrimoine ferroviaire colonial de la région de Malume, Cameroun
baseurl: "/ecomusee-malume"
url: "https://ngue-um.github.io"

# Contact
email: contact@ecomusee-malume.org
phone: "+237 677 06 68 03 / 694 41 86 95"

# Build settings
markdown: kramdown
theme: minima

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-sitemap

# Exclude files
exclude:
  - README.md
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .sass-cache
  - .jekyll-cache
